---
import Form from './Form.astro'
import Apps from './Apps.astro'
---

<div id="contact" class="scroll-mt-[80px] mt-5">
    <h3 class="text-center text-xl font-bold mx-auto pb-2">Kontakt</h3>
    <div><Apps /></div>
    <div><Form client:visible /></div>
</div>

