<div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32">
    <img src="/branik-servis/branikservis.jpg" alt="branik servis banner slika" class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center filter brightness-50 saturate-50">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl backdrop-filter backdrop-grayscale backdrop-blur-md backdrop-contrast-200">Branik servis</h2>
        <span class="mt-6 block text-lg leading-8 text-white backdrop-filter backdrop-grayscale backdrop-blur-md backdrop-contrast-200">POPRAVKA BRANIKA U BEOGRADU | AUTO LAKIRER BEOGRAD.</span>
      </div>
      <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
        <div class="grid grid-cols-1 gap-x-8 gap-y-6 text-base font-semibold leading-7 text-white sm:grid-cols-2 md:flex flex-col lg:gap-x-10">
          <div class="backdrop-filter backdrop-grayscale backdrop-blur-md backdrop-contrast-200 p-2">
            <a href="#contact">Kontakt <span aria-hidden="true">&rarr;</span></a>
          </div>
          <div class="backdrop-filter backdrop-grayscale backdrop-blur-md backdrop-contrast-200 p-2">
            <a href="#apps">SMS <span aria-hidden="true">&rarr;</span></a>
          </div>
          <div class="backdrop-filter backdrop-grayscale backdrop-blur-md backdrop-contrast-200 p-2">
            <a href="#apps">Poziv <span aria-hidden="true">&rarr;</span></a>
          </div>
          <div class="backdrop-filter backdrop-grayscale backdrop-blur-md backdrop-contrast-200 p-2">
            <a href="#gallery">Galerija <span aria-hidden="true">&rarr;</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  