<footer class="bg-white rounded-lg shadow">
	<div
		class="w-full mx-auto max-w-screen-xl p-4 pb-2 md:pb-4 flex flex-col md:flex-row md:items-center md:justify-between"
	>
		<span
			class="text-center md:text-left text-sm text-gray-500 sm:text-center order-1 md:order-0 pt-1"
			>© 2024 Branik servis. All Rights Reserved.</span
		>
		<ul
			class="flex-col md:flex-row flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 sm:mt-0 gap-4 order-0 md:order-1"
		>
			<li>
				<a href="#about" class="hover:underline">O nama</a>
			</li>
			<li>
				<a href="#gallery" class="hover:underline">Galerija</a>
			</li>
			<li>
				<a href="#contact" class="hover:underline">Kontakt</a>
			</li>
		</ul>
	</div>
</footer>
