---
import Location from "./Location.astro"

type Props = {
	showMap?: boolean
}

const { showMap } = Astro.props
---

<div class="max-w-screen-lg md:flex mx-auto p-2 items-start justify-start">
	<div
		class={"grid grid-cols-2 grid-rows-3 h-auto grid-flow-dense" + (showMap
			? " flex-1"
			: "")}
	>
		<div>Adresa:</div>
		<div class="font-bold">Grčića Milenka 37, Beograd 11000</div>

		<div>Broj telefona:</div>
		<div class="font-bold">
			<a href="tel:0611804293">0611804293</a>
		</div>

		<div>Email:</div>
		<div class="font-bold">
			<a href="mailto:ivankastratovic90@gmail.com">ivankastratovic90@gmail.com</a>
		</div>
	</div>

	{
		showMap && (
			<div class="flex-1">
				<Location />
			</div>
		)
	}
</div>
